#quest {
	width: 100%;
	height: 100%;
	display: none;
}

#questImage {
	width: 100%;
	height: 40%;
	top: 20%;
	background-image: url("../resources/image/quest01.png");
}

#questRemnantWindow {
	width: 100%;
	height: 10%;
	top: 10%;
	left: 0%;
}

#questRemnantText {
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-light-color);
	font-size: var(--item-font-size);
	text-align: center;
}

#questTextWindow {
	width: 80%;
	height: 40%;
	top: 20%;
	left: 10%;
}

#questText {
	top: 50%;
	left: 50%;
	scale: 2;
	transform: translate(-50%, -50%);
}

#questTextSpan {
	color: var(--text-light-color);
	font-size: calc(var(--text-font-size) * 0.5);
	background-color: var(--dark-color);
}

#questParamWindow {
	width: 100%;
	height: 15%;
	top: 60%;
	left: 0%;
}

#questParamText {
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--text-light-color);
	font-size: var(--item-font-size);
	text-align: center;
}

#questButton0,
#questButton1 {
	width: 100%;
	height: 8%;
	background-color: var(--dark-color);
}

#questButton0 {
	top: 75%;
}

#questButton1 {
	top: 85%;
}

#questButtonTextWindow0,
#questButtonTextWindow1 {
	width: 80%;
	height: 100%;
	top: 0%;
	left: 10%;
}

#questButtonText0,
#questButtonText1 {
	top: 50%;
	left: 50%;
	scale: 2;
	transform: translate(-50%, -50%);
	text-align: center;
	line-height: 90%;
}

#questButtonTextSpan0,
#questButtonTextSpan1 {
	color: var(--text-dark-color);
	font-size: calc(var(--button-font-size) * 0.5);
	background-color: var(--light-color);
}

#questButtonTextParam0,
#questButtonTextParam1 {
	color: var(--text-light-color);
	font-size: calc(var(--detail-font-size) * 0.5);
}