#title {
    width: 100%;
    height: 100%;
    display: none;
}

#titleImage {
    width: 100%;
    height: 40%;
    top: 20%;
    background-image: url("../resources/image/quest01.png");
}

#titleText {
    width: 100%;
    height: 20%;
    top: 65%;
    left: 0%;
    color: var(--text-light-color);
    font-size: var(--header-font-size);
    text-align: center;
}

#copyright {
    width: 100%;
    height: 10%;
    top: 90%;
    left: 0%;
    color: #555;
    font-size: 150%;
    text-align: center;
}